[MASTER]

ignore=tests,index.py

[MESSAGE CONTROL]

disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        trailing-whitespace,
        trailing-newlines,
        too-few-public-methods,
        unspecified-encoding,
        invalid-name,
        ungrouped-imports,
        consider-using-with


[FORMAT]
        max-line-length: 200

[REFACTORING]

[DESIGN]

[BASIC]
good-names=io,i